* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Halvar Breitschrift";
    src: local("Halvar Breitschrift"),
    url(../fonts/Halvar-Breitschrift.ttf) format("truetype");
}
@font-face {
    font-family: "PT Root UI";
    src: local("PT Root UI"),
    url(../fonts/PT-Root-UI.ttf) format("truetype");
}
body{
    height: 100%;
    background: #2B2B2B;
}
a {
    text-decoration: none;
}
button {
    outline: none;
}
