<template>
  <div class="login">
    <p class="login__title">Добро пожаловать</p>
    <Input :disabled="loader" @blur="$v.form.email.$touch()" @value="form.email = $event" :error="$v.form.email.$error" label="E-mail"/>
    <Input :disabled="loader" @blur="$v.form.password.$touch()" @value="form.password = $event" :error="$v.form.password.$error"  label="Пароль" type="password"/>
    <Button @click="signIn()" type="success" :disabled="$v.$invalid || loader" :loading="loader"> Войти </Button>
  </div>
</template>

<script>
import Input from "../components/ui/Input";
import Button from "../components/ui/Button";
import {required, email} from "vuelidate/lib/validators";

export default {
  name: "Login",
  components: {Button, Input},
  validations: {
    form:{
      email: {
        required,
        email
      },
      password: {
        required,
      },
    }
  },
  data() {
    return {
      loader: false,
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    signIn() {
      this.loader = true
      this.$store.dispatch('SIGN_IN', this.form).then(res => {
        this.loader = false
        if (res) {
          this.$router.push('/')
        }
      })
    }
  }
}
</script>

<style scoped>
.login {
  width: 314px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__title {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.login .input {
  margin-bottom: 16px;
}
.login button {
  margin-top: 22px;
}
@media screen and (max-width: 700px) {
  .login {
    width: 100%;
  }
  .login__title {
    margin-bottom: 38px;
  }
  .login button {
    margin-top: 16px;
  }
}
</style>
