<template>
  <div class="order">
      <p class="order__title">Спасибо за заявку!</p>
    <div class="order__info" v-if="form">
      <h2>ФИО</h2>
      <p>{{ form.name }}</p>
      <h2>{{form.eventId === 1 ? 'Физ. лицо' : 'Юр. лицо' }}</h2>
      <p>{{ form.name }}</p>
      <h2>Номер телфона</h2>
      <p>{{ form.phone }}</p>
      <h2>Дата рождения</h2>
      <p>{{ form.dob }}</p>
      <h2>Опции</h2>
      <div  class="order__text">
        <span v-if="form.opt1">Нужна парковка</span>
        <span v-if="form.opt2">Хочу получить раздаточный материал</span>
        <span v-if="form.opt3">Нужна помощь сопровождающего</span>
      </div>
    </div>
    <div class="order__button">
      <Button disabled>Заявку принято</Button>
    </div>
  </div>
</template>

<script>
import Button from "../components/ui/Button";
export default {
  name: "Order",
  components: {Button},
  data() {
    return {
      form: null,
    }
  },
  mounted() {
    if (localStorage.getItem('form')) {
      this.form = JSON.parse(localStorage.getItem('form'))
    }
  },
}
</script>

<style scoped>
.order {
  width: 336px;
  margin: 0 auto;
}
.order__title {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.order__info {
  background: #101328;
  border-radius: 14px;
  padding: 28px 24px 12px;
}
.order__info h2 {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}
.order__info p {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.order__button {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}
.order__text {
  display: grid;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
@media screen and  (max-width: 700px){
  .order {
    width: 100%;
  }
  .order__title {
    margin-bottom: 38px;
  }
  .order__info {
    padding: 28px 16px 12px;
  }
  .order__button {
    margin-top: 32px;
  }
}
</style>
