<template>
  <div class="not-found" >
    <h1>(404) Page NotFound</h1>
    <router-link to="/" >Home</router-link>
  </div>
</template>

<script>
export default {
  name: "PageNotFound"
}
</script>

<style scoped>
.not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.not-found h1 {
  margin-bottom: 20px;
}
</style>
