<template>
  <div class="participant">
    <h2 class="participant__title">Заполните анкету участника</h2>
    <div class="participant__tabs">
     <Tabs :options="tabsOptions" @value="form.tab = $event"/>
    </div>
    <Loader v-if="loader" />
    <div class="participant__form" v-else-if="Object.keys(form).length">
      <div class="form__personal-data">
        <p class="personal-data__title">Личные данные</p>
        <Input @blur="$v.form.fullName.$touch()" label="ФИО" @value="form.fullName = $event" :error="$v.form.fullName.$error"/>
        <div class="participant__form-date">
          <datepicker v-model="form.date" placeholder="Дата рождения" name="date" format="dd.MM.yyyy" :language="ru" class="date-input" >
            <span slot="afterDateInput" class="animated-placeholder">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                  <path d="M23.8 0H6.2C4.99 0 4 0.990733 4 2.2V19.8C4 21.0085 4.99 22 6.2 22H23.8C25.01 22 26 21.0085 26 19.8V2.2C26 0.990733 25.01 0 23.8 0ZM9.93707 19.3615H6.56667V16.3636H9.93707V19.3615ZM9.93707 15.3582H6.56667V12.3618H9.93707V15.3582ZM9.68333 3.33447C9.1678 3.33447 8.7498 2.9172 8.7498 2.40093C8.7498 1.88467 9.1678 1.46667 9.68333 1.46667C10.1989 1.46667 10.6169 1.88393 10.6169 2.4002C10.6169 2.91647 10.1989 3.33447 9.68333 3.33447ZM14.4346 19.3615H11.0649V16.3636H14.4346V19.3615ZM14.4346 15.3582H11.0649V12.3618H14.4346V15.3582ZM14.4346 11.3579H11.0649V8.36147H14.4346V11.3579ZM14.0665 2.4002C14.0665 1.88393 14.4845 1.46667 15 1.46667C15.5155 1.46667 15.9335 1.88393 15.9335 2.4002C15.9335 2.91647 15.5155 3.33373 15 3.33373C14.4845 3.33373 14.0665 2.9172 14.0665 2.4002ZM18.9351 15.3582H15.5647V12.3618H18.9358V15.3582H18.9351ZM18.9351 11.3579H15.5647V8.36147H18.9358V11.3579H18.9351ZM19.3831 2.4002C19.3831 1.88393 19.8011 1.46667 20.3167 1.46667C20.8322 1.46667 21.2502 1.88393 21.2502 2.4002C21.2502 2.91647 20.8322 3.33373 20.3167 3.33373C19.8011 3.33373 19.3831 2.9172 19.3831 2.4002ZM23.4333 15.3582H20.0629V12.3618H23.4333V15.3582ZM23.4333 11.3579H20.0629V8.36147H23.4333V11.3579Z" fill="#676C7A"/>
                </g>
                <defs>
                  <filter id="filter0_d" x="0" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                  </filter>
                </defs>
              </svg>
            </span>
          </datepicker>

        </div>
        <Input mask="+7##########" @blur="$v.form.phone.$touch()" label="Номер телефона" @value="form.phone = $event" :error="$v.form.phone.$error"/>
      </div>
      <div class="form__activity">
        <p class="activity__title">Выберите дату мероприятия</p>
        <Select @blur="$v.form.activity.$touch()" @value="form.activity = $event" label="День мероприятия" :options="selectOptions" :error="$v.form.activity.$error" />
        <Checkbox label="Нужна парковка" name="1" @value="form.parking = $event" />
        <Checkbox label="Хочу получить раздаточный материал" name="2"  @value="form.material = $event"/>
        <Checkbox label="Нужна помощь сопровождающего" name="3"  @value="form.accompanying = $event"/>
      </div>
    </div>
    <div class="participant__button">
      <Button type="success" @click="sendApplication()" :disabled="$v.$invalid || loading" :loading="loading">Отправить заявку</Button>
    </div>
  </div>
</template>

<script>
import Input from "../components/ui/Input";
import Checkbox from "../components/ui/Checkbox";
import Select from "../components/ui/Select";
import Tabs from "../components/ui/Tabs";
import Button from "../components/ui/Button";
import Datepicker from 'vuejs-datepicker';
import {ru} from 'vuejs-datepicker/dist/locale'
import { required } from 'vuelidate/lib/validators'
import Loader from "../components/ui/Loader";

export default {
  name: "ParticipantForm",
  components: {Loader, Button, Tabs, Select, Checkbox, Input, Datepicker},
  validations: {
    form:{
      fullName: {
        required,
      },
      phone: {
        required,
      },
      date: {
        required,
      },
      activity: {
        required,
      },
    }
  },
  data() {
    return {
      ru: ru,
      loader: true,
      loading: false,
      form: {
        tab: '',
        fullName: '',
        date: '',
        phone: '',
        activity: '',
        parking: '',
        material: '',
        accompanying: '',
      },
      selectOptions: [],
      tabsOptions: [
        {
          id: 1,
          name: 'Физ. лицо'
        },
        {
          id: 2,
          name: 'Юр. лицо'
        }
      ]
    }
  },
  mounted() {
    this.tab = this.tabsOptions[0]
    this.$store.dispatch('GET_ACTIVITY')
      .then(res => {
        if (res) {
          this.loader = false
          this.selectOptions = res.data.eventsDate
        }
      })
        .finally(() => {
          this.loader = false
        })
  },
  methods: {
    sendApplication() {
      this.loading = true
      this.$store.dispatch('SEND_APPLICATION', this.form)
      .then(res => {
        if (res) {
          this.$router.push('/order')
        }
      })
      .finally(() => {
        this.loading = false
      })

    }
  }
}
</script>

<style scoped>
.participant {
  padding-top: 38px;
  width: fit-content;
  margin: 0 auto;
}
.participant__title {
  text-align: center;
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  color: #FFFFFF;
}
.participant__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 60px;

}
.participant__form {
  padding-bottom: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form__personal-data {
  width: 288px;
  position: relative;
  padding-right: 36px;
}
.form__personal-data:before {
  content: '';
  right: 0;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #FFFFFF;
  opacity: 0.1;
}
.participant__form-date {
  position: relative;
}
.participant__form-date svg {
  position: absolute;
  top: 8px;
  right: 4px;
}
.form__personal-data  .input:not(:last-child) {
  margin-bottom: 16px;
}
.personal-data__title, .activity__title {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.form__activity {
  padding-left: 32px;
}
.form__activity .checkbox:not(:last-child) {
  margin-bottom: 12px;
}
.form__activity .select {
  padding-bottom: 28px;
}
.participant__button {
  display: flex;
  justify-content: center;
}
::v-deep.date-input input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background: #404040;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  padding: 0 12px;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
  margin-bottom: 16px;
}
@media screen and (max-width: 700px) {
  .participant__form {
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .participant__tabs {
    padding: 38px 0;
  }
  .form__personal-data:before {
    display: none;
  }
  .form__personal-data:after {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    bottom: -72%;
    right: 50%;
    width: 1px;
    height: 140%;
    background: #FFFFFF;
    opacity: 0.1;
  }
  .form__personal-data {
    width: 100%;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .activity__title {
    margin-top: 32px;
  }
  .form__activity {
    padding-left: 0;
  }
}

</style>
