<template>
  <div id="app">
    <component :is="routeName === 'notFound' ? 'notFound' : 'appLayout'">
      <router-view />
    </component>
  </div>
</template>

<script>
import appLayout from "@/layout/default";
import notFound from "@/views/PageNotFound.vue";
export default {
  components: {appLayout, notFound},
  computed: {
    routeName() {
      return this.$route.name
    }
  }
}
</script>
