<template>
  <button :class="[type, 'my-button', {
            'loader' : loading
          }]"
          :disabled="disabled"
          @click="callback($event)"
  >
    <span class="my-button__item">
        <slot></slot>
    </span>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    callback (e) {
      this.$emit('click', e);
    }
  }
}
</script>

<style scoped>
.my-button {
  border: none;
  font-family: 'PT Root UI';
  padding: 8px 24px;
  border-radius: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
  line-height: 133%;
  position: relative;
}
.my-button.success-bold {
  background: #8852E1;
  color: #fff;
}
.my-button.success {
  background: #AB81F1;
  color: #fff;
}
.my-button[disabled]{
  cursor: not-allowed;
  background: rgba(255, 255, 255, 0.2);
  color: #676C7A;
}
.my-button.loader .my-button__item {
  opacity: 0;
  visibility: hidden;
}
.my-button.loader:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: loader 1s ease infinite;
}
@keyframes loader {
  from {
    transform: rotate(0turn)
  }
  to {
    transform: rotate(1turn)
  }
}
</style>
