<template>
  <div class="checkbox">
    <input v-model="value" :id="name" type="checkbox" class="checkbox__input" >
    <label :for="name"  class="checkbox__label">{{label}}</label>
  </div>
</template>

<script>
export default {
  name: "Checkbox",
  data() {
    return {
      value: ''
    }
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    }
  },
  watch: {
    value(val) {
      this.$emit('value' , val)
    }
  }
}
</script>

<style scoped>
.checkbox {
  position: relative;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}
.checkbox__label {
  font-family: 'PT Root UI';
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #676C7A;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 7px;
  height: 14px;
  top: -3px;
  left: 7px;
  transform: rotateZ(45deg);
  opacity: 0;
  transition: 0.3s;
}

</style>
