<template>
  <div :class="['input', {
    'input-error': error
  }]">
    <input :disabled="disabled" v-mask="mask" @blur="$emit('blur')" class="input__inner" v-model="value" :type="passwordType ? type : 'text'" required/>
    <span class="input__label">{{label}}</span>
    <transition name="error-text" v-if="error">
      <span class="input__error">Неверно введены данные</span>
    </transition>
    <div class="input__icons" v-if="type == 'password'">
      <svg v-if="passwordType" @click="passwordType = !passwordType" class="input__icons-item" :class="{ disabled: !see }"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="4" fill="white"/>
        <path d="M3 12C8 4 16 3.99999 21 12" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3 12C8 20 16 20 21 12" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg v-else @click="passwordType = !passwordType" :class="{ disabled: !see }" class="input__icons-item" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 9C3.73228 10.1716 4.52904 11.1715 5.37117 12M21 9C20.2678 10.1716 19.4712 11.1716 18.6291 12M18.6291 12L21 14.6014M18.6291 12C17.3372 13.271 15.9381 14.1382 14.5 14.6014M5.37117 12L3 14.6014M5.37117 12C6.66318 13.271 8.06227 14.1382 9.50039 14.6014M14.5 14.6014L15.5 18M14.5 14.6014C12.8506 15.1328 11.1498 15.1328 9.50039 14.6014M9.50039 14.6014L8.5 18" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  data() {
    return {
      value: '',
      passwordType: true,
    }
  },
  props: {
    label: {
      type: String,
      default: 'Text',
    },
    mask: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text'
    },
    error: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    see() {
      return this.value.length
    }
  },
  watch: {
    value(val) {
      this.$emit('value', val)
    },
  }
}
</script>

<style scoped>
.input {
  width: 100%;
  position: relative;
}
.input-error {
  padding-bottom: 15px;
}
.input-error .input__inner {
  border-color: red;
}
.input__label {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #676C7A;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: 0.3s;
}
.input__inner {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background: #404040;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  padding: 0 12px;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}
.input__inner:focus {
  border: 1px solid #AB81F1;
}
.input__inner:focus ~ .input__label {
  color: #AB81F1;
}
.input__inner:focus ~ .input__label,
.input__inner:valid ~ .input__label {
  font-size: 10px;
  line-height: 13px;
  top: 2px;
}
.input__error {
  font-size: 12px;
  line-height: 110%;
  color: #F7483D;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.input__icons {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.input__icons-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.error-text-enter, .error-text-leave-to {
  transform: translateX(10px);
  padding-bottom: 16px;
  opacity: 0;
}
</style>
