<template>
  <div class="loader-circle">
    <div class="loader-circle__item">
      <div class="loader-circle__content">
        <div class="loader-circle__big"></div>
        <div class="loader-circle__normal"></div>
        <div class="loader-circle__small"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoaderCircle'
}
</script>

<style scoped>
.loader-circle {
  position: fixed;
  z-index: 99999;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(177, 177, 177, 0.41);
}
.loader-circle__item {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
 }
.loader-circle__content {
   position: relative;
   width: 70px;
   height: 70px;
   border-radius: 50%;
 }
.loader-circle__big {
   position: absolute;
   border: 5px solid #AB81F1;
   border-right-color: transparent;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   animation: 2s fade-big linear infinite;
 }
.loader-circle__normal {
   position: absolute;
   border: 3px solid rgba(171, 129, 241, 0.83);
   width: 47px;
   height: 47px;
   inset: 11px 0 0 12px;
   border-radius: 50%;
   border-top-color: transparent;
   animation: 1.5s fade-normal linear infinite;
 }
.loader-circle__small {
   position: absolute;
   border: 1px solid rgba(171, 129, 241, 0.75);
   width: 21px;
   height: 21px;
   inset: 24px 0px 0 25px;
   border-radius: 50%;
   border-right-color: transparent;
   animation: 1s fade-small linear infinite;
 }
@keyframes fade-big {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-normal {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fade-small {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
