<template>
  <div :class="['select', {
    'select-error': error
  }]" tabindex="1" @blur="blurSelect()">
    <div class="select__header" @click="optionsVisible = !optionsVisible">
      <div class="select__header-left">
        <span :class="['select__header-label', {
          'selected' : value
        }]">{{label}}</span>
        <span v-if="value" class="select__header-text">{{ value[name] }}</span>
      </div>
      <svg :class="{ active: optionsVisible}" class="select__header-icon" width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.820312 0.320312H9.17969L5 4.5L0.820312 0.320312Z" fill="#676C7A"/>
      </svg>
    </div>
    <transition name="error-text" v-if="error">
      <span class="select__error">Неверно введены данные</span>
    </transition>
    <transition name="options-popup">
      <div class="select__options" v-if="optionsVisible">
        <span
            v-for="(option,key) in options" :key="key"
            :class="['select__options-item',  value && value.id === option.id ? 'selected' : '']"
            @click="changeSelect(option)"
        >
          {{ option[name] }}
        </span>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Select",
  props: {
    error: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: 'label'
    },
    label: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      value: null,
      optionsVisible: false,
    }
  },
  methods: {
    changeSelect(val) {
      this.optionsVisible = false
      this.value = val
      this.$emit('value', val)
    },
    blurSelect() {
      this.optionsVisible = false
      this.$emit('blur')
    }
  }
}
</script>

<style scoped>
.select {
  width: 288px;
  position: relative;
}
.select-error .select__header {
  border: 1px solid red;
}
.select__header {
  background: #404040;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.select__header-left {
  display: flex;
  flex-direction: column;
}
.select__header-label {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #676C7A;
}
.select__header-text {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.select__header-icon {
  transition:0.3s;
}
.select__header-icon.active {
  transform: rotate(180deg);

}
.select__options {
  position: absolute;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 16px 10px;
  background: #404040;
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  z-index: 100;
  border-radius: 4px;
  transition: 0.3s;
}
.select__header-label.selected {
  font-size: 10px;
}
.select__error {
  font-size: 12px;
  line-height: 110%;
  color: #F7483D;
  position: absolute;
  bottom: 12px;
  left: 0;
  transition: 0.3s;
}
.select__options-item {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #676C7A;
  padding: 6px 8px;
  transition: 0.3s;
  cursor: pointer;
}
.select__options-item.selected {
  background: #AB81F1;
  border-radius: 4px;
  color: #fff;
}
.select__options-item:not(:last-child) {
  margin-bottom: 4px;
}
.select__options-item:hover {
  background: #AB81F1;
  border-radius: 4px;
  color: #fff;
}

.options-popup-enter, .options-popup-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.error-text-enter, .error-text-leave-to {
  transform: translateX(10px);
  padding-bottom: 16px;
  opacity: 0;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #AB81F1;
  border-radius: 3px;
}
</style>
