<template>
  <div class="tabs">
    <label v-for="tab in options" :key="tab.id" @click="changeTab(tab) "  class="tabs__item" :class="{active: tabs == tab.id}">
      <input class="tabs__input" type="radio" v-model="tabs" :value="tab.id">
      {{ tab.name }}
    </label>
  </div>
</template>

<script>
export default {
  name: "Tabs",
  props: {
    options: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      tabs: null,
    }
  },
  mounted() {
    this.tabs = this.options[0].id
    this.$emit('value', this.options[0])
  },
  methods: {
    changeTab (item) {
      this.$emit('value', item)
    }
  }
}
</script>

<style scoped>
.tabs {
  background: #1F2235;
  border-radius: 14px;
  padding: 5px 4px;
  display: flex;
}
.tabs__item {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: #676C7A;
  padding: 8px 24px;
  transition: 0.3s;
  cursor: pointer;
}
.tabs__item:not(:last-child) {
  margin-right: 21px;
}
.tabs__input {
  display: none;
}
.tabs__item.active {
  background: #AB81F1;
  border-radius: 14px;
  color: #fff;
}
</style>
