<template>
  <div class="layout-default">
    <nav class="layout__nav">
      <h2 class="layout__nav-title">Coding Mega Event</h2>
    </nav>
    <main class="layout__main">
      <slot/>
    </main>
  </div>
</template>

<script>
export default {
  name: "layout"
}
</script>

<style scoped>
.layout-default {
  padding: 0 20px;
}
.layout__nav-title {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 120%;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 120px;
  padding-top: 38px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .layout-default {
    padding: 0 16px;
  }
  .layout__nav-title {
    font-size: 30px;
    padding-bottom: 70px;
    padding-top: 24px;
  }
}
</style>
